<h1 class='ls-title-intro ls-ico-text'>Cadastrar <%= Order.model_name.human(count: 1) %></h1>

  <% if @order.errors.any? %>
  <% @order.errors.full_messages.each do |message| %>
    <div class='ls-alert-danger' role='alert'>
      <%= message %>
    </div>
    <% end %>
  <% end %>

<%= render partial: 'form', locals: { order: @order } %>
