/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.blue-theme {
  color: #5c90c4 !important; 
}

.red-delete {
  color: rgb(105, 30, 0) !important;
}

.links {
  margin-top: 5vw;
}

.remember-me {
  margin-top: 2vw;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

 .errors {
  margin-top: 20px;
}

.form {
  display: flex;
  align-items: center;
}

.align-item {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.signin {
  text-align: center;
}

.title-signin {
  margin-top: 6vw;
}

.order {
  margin-top:20px;
}

td > a {
  font-size: 20px;
}

.button {
  margin-top: 10px;
}

.form-row {
  margin-top: 10px;
}

.alerts {
  margin-top: 10px;
}

.status {
  font-size: 13px;
}

.reason {
  margin: 20px 0;
}

.why {
  margin-top: 10px;
}
